.my-flex-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 30%;

}
.my-flex-container > button{
	flex-basis:14%;
	height: 20px;
}

.my-flex-container > #input{
	flex-basis:97%;
	height: 20px;
	border: 1px solid;
}
#rules{
	width: 80%;
	margin: 0 auto;
	padding-top: 10px 10%;
}